<ion-slides class="box_slider" pager="true" [options]="sliderOptions">
  <ion-slide class="box_slider_item" *ngFor="let item of sliderInput" (click)="sliderClickTrigger(slider.modelItem)">
    <img class="slider_img img_vertical" src="https://image.tmdb.org/t/p/w500{{item.poster}}">
    <img class="slider_img img_horizontal" src="https://image.tmdb.org/t/p/w500{{item.image}}">
    <div class="slider_item_data">
      <h3 class="slider_data data_title">{{item.title}}</h3>
      <p class="slider_data data_overview">{{item.overview}}</p>
      <p class="slider_data data_rating">rating: {{item.rating}}</p>
      <div class="details">Details</div>
    </div>
  </ion-slide>
</ion-slides>