<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons class="ion-margin-start" slot="start">
      <ion-icon name="search-circle-outline"></ion-icon>
    </ion-buttons>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-searchbar style="font-size: 24px;" placeholder="What would you like to watch?" [(ngModel)]="searchValue" (ionChange)="searchLoader()">
    </ion-searchbar>
    <ion-item>
      <ion-label class="ion-margin-start">Movies or TV Shows?</ion-label>
      <ion-select placeholder="Select Filter Type" [(ngModel)]="movieOrTvShowValue" (ionChange)=selectionChanged()>
        <ion-select-option value="movie">Movies</ion-select-option>
        <ion-select-option value="tv">TV Shows</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let item of searchResults">
          <app-card [title]="item.title" [poster]="item.image" [model]="modelItem" (cardEvent)="loadSearchContainer($event)">
            </app-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>