<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons class="ion-margin-start" slot="start">
      <ion-icon name="search-circle-outline"></ion-icon>
    </ion-buttons>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-searchbar style="font-size: 24px;" placeholder="What would you like to watch?" [(ngModel)]="searchValue" (ionChange)="searchLoader()">
    </ion-searchbar>
    <ion-item>
      <ion-label class="ion-margin-start">Movies or TV Shows?</ion-label>
      <ion-select placeholder="Select Filter Type" [(ngModel)]="movieOrTvShowValue" (ionChange)=selectionChanged()>
        <ion-select-option value="movie">Movies</ion-select-option>
        <ion-select-option value="tv">TV Shows</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div *ngIf="searchResults.length > 0">
        <div class="results_container">
          <div class="results_card" *ngFor="let item of searchResults">
            <div class="result_data">
              <div class="details_container">
                <button type="button" class="details_btn" id="{{item.id}}" (click)="selectMovieOrTvShow(item.id)">
                  Details
                </button>
                <div class="details_title">
                  {{item.name || item.title}} 
                </div>
              </div>
              <div class="img_container">
                <img class="img" src="{{item.image}}"/>
                <img class="img_poster" src="{{item.poster}}"/>
              </div>
            </div>
          </div>
        </div> 
    </div>

    <div *ngIf="searchDetails.length !== 0" class="card_container">
      <div class="card_title">
        {{searchDetails.title || searchDetails.name}}
      </div>
      <div class="card_images" *ngIf="searchDetails">
        <img class="img card_img" src="https://image.tmdb.org/t/p/w500{{searchDetails.backdrop_path}}"/>
        <img class="img_poster card_poster" src="https://image.tmdb.org/t/p/w500{{searchDetails.poster_path}}"/>
      </div>
      
   </div>
</ion-content>