@import url(../app.component.scss);
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,600&display=swap');

// ANIMATION ID'S
#animCard {
  animation: showCard .2s normal;
}

@keyframes showCard {
  from {transform: scaleX(0);}
  to {transform: scaleX(1);}
}

// MAIN BODY COMPONENTS
.results_container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-inline: 5%;
}

.results_card:nth-child(1) {
  margin-top: -3%;
}

.results_card {
  box-sizing: border-box;

  margin: 0%;
  margin-top: -1%;
  
  max-width: 100%;
  max-height: 18%;

  overflow: visible;
}

.results_data {
  box-sizing: border-box;

  max-width: 50%;
  max-height: 30%;

  padding: 0%;
  padding-top: 0%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.details_container {
  background-color: transparent;
  padding: 10%;


  height: 6em;
  width: fit-content;
  border-radius: .3em;


  display: flex;
  flex-direction: column;
  align-items: flex-end;

  overflow: hidden;

}

.details_title {
  background: linear-gradient(55deg, transparent, #1a1a1a, transparent);

  color: whitesmoke;
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
  letter-spacing: .05em;

  position: absolute;
  left: 0%;
  padding-top: 1%;

  height: 4rem;
  width: 100%;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-right: 30%;

  font-size: larger;
}

.details_btn {

  position: absolute;
  left: 58%;
  margin-top: 2%;

  background-color: var(--ion-color-primary-shade);

  color: whitesmoke;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 600;

  border-radius: .5em .5em .5em 0;

  height: 2rem;
  width: 10rem;

  letter-spacing: .05em;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 4;

  cursor: pointer;

  transition: .1s;
}

.details_btn:hover {
  background-color: var(--ion-color-primary-tint);

  width: 11rem;

  letter-spacing: .2em;

  transition: .1s;
}

.img_container {

  height: 6em;
  border-radius: .5em 0 .5em .5em;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  
  display: flex;
}

.img_poster {
  
  display: none;
}

// CARD COMPONENT
.card_container {
  background-color: #1a1a1a;
  margin-block: .5em;

  box-shadow: black .1em .5em 1em;

  border-radius: 1.5em;

  position: absolute;
  top: 25%;
  left: 5%;
  
  height: 70%;
  width: 70%;
  max-width: 70%;
  max-height: 90%;
  
  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  z-index: 5;

  overflow: hidden;

}

.card_close_btn {
  background-color: transparent;

  border-radius: 0% 0% 0% .5em;

  height: 4rem;
  width: 4rem;

  position: absolute;
  top: 0%;
  right: 0%;

  font-size: 2.5em;

  z-index: 9;

  transition: .1s;

}

.card_close_btn:hover {
  background-color: transparent;
  font-size: 2.8em;

  transition: .1s;

}


.card_data {
  background: linear-gradient(65deg, transparent, transparent, transparent, hsl(0, 0%, 10%, .9), #1a1a1a,  #1a1a1a, transparent);

  font-family: 'Alegreya Sans', sans-serif;
  letter-spacing: .2em;

  width: 100%;
  height: 100%;
  max-height: 100%;

  position: absolute;
  top: 0%;
  z-index: 7;

  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card_data_title {
  
  width: 100%;
  background-color: hsl(0, 0%, 0%, .8);

  padding-top: 5%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.card_data_overview {
  background-color: hsl(0, 0%, 0%, .8);

  height: 55%;
  width: 100%;

  margin-bottom: 20%;

  padding: 5%;
  padding-top: 7%;

  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;

  overflow-x: scroll;
  
}

.card_data_rest {

  font-size: 1em;
  font-weight: 500;
  
  position: absolute;
  bottom: 5%;
  left: 3%;

  height: 30%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  p {
    margin-block: .4em;
  }
  
}

.card_data_display {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_images {
  position: absolute;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 100%;

}

.card_img {
  margin-top: -10%;

  height: 100%;
  min-width: 100%;
}

.card_shadow_effect {
  background: linear-gradient(180deg, transparent, transparent, hsl(0, 0%, 10%, .9), #1a1a1a);


  height: 100%;
  width: 100%;

  z-index: 6;
}


@media only screen and (max-width: 1600px) {

// RESULTS COMPONENT ADAPTIVENESS
  .details_btn {
    margin-top: 3.5%;

    border-radius: .5em .5em .5em 0;

    height: 2rem;
    width: 12rem;
  }

  .details_btn:hover {
    width: 13rem;
  }

  .img {
  
    display: none;
  }
  
  .img_poster {
    
    display: flex;
  }

  .card_poster {

    height: 100%;
    min-width: 100%;
    }
}


@media only screen and (max-width: 650px) {

.card_container {
  width: 90%;
  max-width: 90%;
  max-height: 90%;

  

}

.card_close_btn {
  height: 3rem;
  width: 3rem;

  font-size: 2em;

}

.card_close_btn:hover {
  font-size: 2.1em;

}

}

@media only screen and (max-width: 500px) {

  .results_container {
    padding-inline: 0%;
  }

  .results_card{
    margin-bottom: 0%;
  }

  .results_card:nth-child(1) {
    margin-top: -17%;
  }



  .details_btn {
    background-color: var(--ion-color-primary-tint);
    
  // background: linear-gradient(90deg, var(--ion-color-primary-tint), var(--ion-color-primary-tint), transparent);

    left: 0%;
    margin-top: 30%;

    border-radius: 0 .5em .5em 0;

    height: 1.6rem;
    width: 10rem;
    padding-right: 1em;

    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .details_btn:hover {    
    background-color: var(--ion-color-secondary-tint);
    color: var(--ion-color-step-150);
    box-shadow: .1rem .1rem 1rem var(--ion-color-step-150);
    
    width: 11rem;
    letter-spacing: .1em;
  }


  .img_container {

    height: 9em;
    border-radius: 0em;
  }

  .details_title {
    margin-top: 5%;

    padding-right: 3%;
    padding-left: 50%;

    border-top: solid hsl(0, 0%, 96%, .5) .1em;
    background: linear-gradient(0deg, transparent, #1a1a1a, #1a1a1a);

    height: 8rem;
  }

  


// CARD COMPONENT ADAPTIVENESS
  .card_container {
    position: absolute;
  
    height: 70%;
    width: 90%;
    max-width: 90%;
    max-height: 70%;
  }

  .card_images {
    top: 0%;
    justify-content: flex-start;
  
  }
  



}


@media only screen and (max-width: 400px) {
  .details_btn {
    margin-top: 38%; }

}