.box_card {
  background-color: red;
  border: .5em solid black;
  color: white;

  position: relative;

  height: 20em;
  width: 13em;
  

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}